<?xml version="1.0" ?>
<!--
/**
 * @author    JaJuMa GmbH <info@jajuma.de>
 * @copyright Copyright (c) 2023-present JaJuMa GmbH <https://www.jajuma.de>. All rights reserved.
 * @license   http://opensource.org/licenses/mit-license.php MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Jajuma_General::jajuma_extensions" title="JaJuMa Extensions">
                                <resource id="Jajuma_PowerToys::powertoys" title="JaJuMa - Power Toys">
                                    <resource id="Jajuma_PowerToys::function" title="JaJuMa - Power Toys Main Function"/>
                                    <resource id="Jajuma_PowerToys::config_jajuma_powertoy" title="JaJuMa - Power Toys Config"/>
                                </resource>
                            </resource>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
